.carousel-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow-x: auto;
  gap: 1rem;
  width: 100%;
}

.carousel {
  display: flex;
  gap: 1rem;
}

.carousel-card {
  position: relative;
  min-width: 200px;
  padding: 1.5rem;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgb(0 0 0 / 10%);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: transform 0.2s ease-in-out;
  opacity: 0.9;
}

.carousel-card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgb(0 0 0 / 20%);
}

.card-content {
  text-align: center;
}

.card-content h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #333;
  margin-bottom: 1rem;
}

.card-content p {
  font-size: 1rem;
  color: #555;
}

.card-content svg {
  margin-top: 0.5rem;
}

.vertical-card-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.vertical-card-list .carousel-card {
  width: 100%;
  max-width: 350px;
  padding: 0.5rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgb(0 0 0 / 10%);
  background-color: #fff;
  max-height: 80px;
  overflow: hidden;
  text-align: center;
}

.vertical-card-list .carousel-card button {
  width: 100%;
  height: 100%;
  border: none;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* Scroll menue code was copied from https://www.w3schools.com/howto/howto_css_menu_horizontal_scroll.asp */
div.scrollmenu {
  overflow-x: auto;
  white-space: nowrap;
  display: flex;
  gap: 1rem;
  padding: 0.5rem 0;
}

div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 10px 15px;
  text-decoration: none;
  background: #007bff;
  border-radius: 5px;
}

div.scrollmenu a:hover {
  background-color: #0056b3;
}

.list-group-item {
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 0.5rem;
  padding: 1rem;
}

.list-group-item strong {
  font-size: 1.2rem;
}

.list-group-item .badge {
  font-size: 0.9rem;
  padding: 0.5rem 0.75rem;
}

html,
body {
  height: 100%;
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  display: flex;
  flex-direction: column;
}

.content-wrapper {
  flex: 1;
}

.container-fluid {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  margin-top: auto;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem;
}

header {
  background-color: #235725;
  color: #fff;
  padding: 1rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}

main {
  padding: 2rem;
  background-color: #e8f5e9;
}
