rules_version = '2';

service cloud.firestore {
  service cloud.firestore {
    match /databases/{database}/documents {
      // Allow only authenticated content owners access
      match /trips/{userId}/{documents=**} {
        allow read, write: if request.auth != null && request.auth.uid == userId
      }
    }
  }
}
